body {
    font-family: 'Noto Serif JP';
    overflow: auto;
    background-color: #FdFdFd;
    margin: 0px;
  }
  
  li {
    list-style: none;
  }
  
  .header {
    background-color: #2f8380;
    color: #ffffff;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .header-logo {
    float: left;
    font-size: 28px;
    padding: 20px 40px;
  }
  
  .header-list li {
    float: right;
    padding: 22px 20px;
  }
  
  .main {
    display: block;
    margin: 0px;
  }
  
  .copy-container{
    background-image: url(img/top.png);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 220px 0px;
  }

  .copy-container h1 {
    font-size: 100px;
    text-align: center;
  }
  
  .copy-container h2 {
    font-size: 60px;
    text-align: center;
  }
  
  .copy-container span {
    color: #ff4a4a;
    font-size: 80px;
  }
  
  .contents {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
  }
  
  .section-title {
    font-size: 28px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 90px;
    margin-bottom: 0px;
  }
  
  .line-gray{
    height: 1px;
    width: 300px;
    margin: 10px auto;
    background-color: #2f5167;

  }

  .line-white{
    height: 1px;
    width: 300px;
    margin: 10px auto;
    background-color: #ffffff;

  }

  .two-column-contents{
    width: 700px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: space-between;
    vertical-align: baseline;
  }

  .profile-icon{
      width: 33%;
  }

  #icon{
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }

  .profile-sentences{
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
  }

  table {
    display: table;

}

    table th{
        text-align: left;
        display: table-cell;
    }

    table td{
        text-align: left;
        padding-left: 70px;
        display: table-cell;
    }



    }

  .works, .skills{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


  .contents-item {
    text-align: center;
    margin-right: 40px;
  }
  
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
  }
  
  .contact-form {
    padding-top: 100px;
  }
  
  /* inputとtextareaのCSSを指定してください */
  input, textarea {
    width:400px;
    margin-top:10px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border: 1px solid #dee7ec;
  }
  
  /* contact-submitのCSSを指定してください */
  .contact-submit{
    background-color:#dee7ec;
    color:#889eab;
  }
  
  .footer {
    background-color: #2f5167;
    color: #fff;
    height: 300px;
    width: 100%;

  }
  
  .footer-logo {
    text-align: center;
    font-size: 32px;
    padding: 20px 40px 10px 40px;
  }
  
  .two-column-footer{
    width: 700px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    justify-content: space-between;
    vertical-align: baseline;
  }


  a:link{
      color:#a9ffff;

  }

  a:visited{
      color:#ffd3ff;
  }